<div class="row">
  <div class="col-xs-6 col-md-3">
    <!-- <a href="#" class="thumbnail"> -->
      <!-- <img src="..." alt="..."> -->
    <!-- </a> -->
    <div class="thumbnail text-center">
      <!-- <h3><%= link_to room.name, room_path(room.user_id) %></h3> -->
      <h3><%= link_to room.name, room_path(room) %></h3>
    </div>
  </div>
</div>
