<div id="messages">
  <%= render @messages %>
</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container">
    <%= text_field_tag :body, '', id: "chat-speak", class: "form-control", autofocus: true %>
  </div>
</nav>
